doctype html
html(lang="en")
  head
    include head.jade
  body
    header
      include header.jade 
    content
      include content.jade
    footer
      include footer.jade
    
    
    
                    
                    
                
            
        
      

    
    
    
    
