doctype html
html(lang="en")
  head
    title
    link(href='/css/app.css', rel='stylesheet')
  body
    header
      .top_line
      .header
        .wrapper
          .left
            .logo
              <a href="/">
                <img src="logo.png" ... />
              </a>
            .logo_hr
            .logo_slogan 
              | Профессиональная униформа
          .right
            .menu
             ul
              li 
                a Скачать каталог   
              li 
                a Доставка  
              li 
                a Оплата 
              li 
                a Возврат 
              li 
                a Контакты 
              li 
                a Помощь 
             
            .info
            
        
      

    
    
    
    
